//字体
$textLight:#fff;
$textDark:#333;
$textElem:#409eff;
//$textElem:#0aABBD;
$textHeader:#8B8B8B;

//背景
$bgMainLight:#fff;
$bgMainDark:#263238;
$bgMainEleLight:#0aABBD;
//$bgMainEleLight:#409eff;
$bgMainEleDark:#263238;

//
$headH:60px;





