body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Microsoft Yahei',Arial,Simsun;
  font-size: 14px;
  background: #F4F4F4; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  text-decoration: none;
  outline: none;
  blr: expression(this.onFocus=this.blur());
  cursor: pointer; }

.clear {
  clear: both;
  display: block; }

.main-sidebar, .main-righty, .main-navbar {
  transition: width .3s ease-in-out; }

.img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.clearfix:after, .main-navbar:after, .main-navbar .righty:after, .main-navbar .righty li:after, .index-block:after, .index-blockB:after, .el-form-top:after, .el-form-top2:after, #design-body:after, .region-block:after, .dictionary-block:after, .rarc-view-top .record:after, .inbound-matr-top:after, .inbound-excel-step:after, .inbound-upload-line:after, .inbound-upload-line ul:after, .information-search-advc:after {
  clear: both;
  content: " ";
  display: block; }

.abslt, .el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.transit {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.bd-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.noscroll {
  height: 100%;
  overflow: hidden; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont/iconfont.eot");
  src: url("iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont/iconfont.woff") format("woff"), url("iconfont/iconfont.ttf") format("truetype"), url("iconfont/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main-sidebar {
  width: 180px;
  background: #263238;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999; }
  .main-sidebar h2 {
    height: 60px;
    line-height: 60px;
    background: url("../img/logo.png") no-repeat 21px center #2B373D; }
  .main-sidebar .menu {
    overflow: hidden; }
    .main-sidebar .menu .control {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      padding: 0 10px;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      right: -50px;
      top: 0; }
    .main-sidebar .menu .el-menu {
      border: 0; }
    .main-sidebar .menu .el-menu-vertical-demo {
      width: 190px;
      min-height: 400px; }
    .main-sidebar .menu .el-menu--inline {
      padding: 10px 0; }
    .main-sidebar .menu .el-submenu__title, .main-sidebar .menu .el-menu-item {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.5px; }
    .main-sidebar .menu .el-menu-items {
      padding-left: 53px !important; }
    .main-sidebar .menu .el-menu-item, .main-sidebar .menu .el-submenu__title {
      height: 50px;
      line-height: 50px; }
    .main-sidebar .menu .el-submenu__icon-arrow {
      margin-top: -3px; }
    .main-sidebar .menu .home {
      margin-right: 8px;
      margin-left: 4px; }

.main-righty {
  width: 100%;
  padding-left: 180px;
  box-sizing: border-box;
  position: relative; }

.main-navbar {
  width: 100%;
  padding-left: 180px;
  height: 60px;
  line-height: 60px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background: #fff;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666; }
  .main-navbar .user {
    display: inline-block;
    float: left;
    margin-left: 45px; }
  .main-navbar .righty {
    float: right;
    margin-right: 20px; }
    .main-navbar .righty li {
      float: left; }
      .main-navbar .righty li .in {
        width: 20px;
        height: 60px;
        font-size: 22px;
        margin: 0 7px;
        display: inline-block;
        background: url("../../icons/svg/notice.svg") no-repeat center;
        background-size: 100%; }
      .main-navbar .righty li .ih {
        width: 20px;
        height: 60px;
        font-size: 22px;
        margin: 0 7px;
        display: inline-block;
        background: url("../../icons/svg/help.svg") no-repeat center;
        background-size: 100%; }
      .main-navbar .righty li .iu {
        height: 60px;
        font-size: 22px;
        margin: 0 10px;
        display: block; }
        .main-navbar .righty li .iu .userName {
          font-size: 14px;
          padding-left: 10px; }
    .main-navbar .righty .el-dropdown-link {
      cursor: pointer; }
    .main-navbar .righty .el-menu--horizontal {
      height: 60px;
      border: 0; }
      .main-navbar .righty .el-menu--horizontal .el-menu-item {
        height: 60px;
        line-height: 60px;
        border: 0;
        padding: 0 20px; }
    .main-navbar .righty .nav-notice .el-badge__content.is-fixed {
      top: 12px;
      right: 5px;
      z-index: 66; }

.main-content {
  width: 100%;
  padding: 60px 0 15px;
  color: #333;
  background: #F4F4F4;
  box-sizing: border-box;
  overflow: hidden; }
  .main-content .el-tabs__header {
    position: fixed;
    top: 60px;
    left: 180px;
    right: 0;
    z-index: 930;
    padding: 0 55px 0 15px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff; }
  .main-content .site-tabs__tools {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 931;
    height: 40px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 40px;
    background-color: #f1f4f5;
    cursor: pointer; }
  .main-content .header {
    font-size: 12px;
    height: 40px;
    padding: 0 1%;
    background: #fff;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 15px; }
    .main-content .header .el-breadcrumb {
      line-height: 40px; }
  .main-content .cont {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box; }
    .main-content .cont h2 {
      background: #f5f5f5;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px; }
    .main-content .cont .inner {
      padding: 20px; }

.index {
  width: 100%;
  position: relative; }

.index-block {
  background: #fff;
  padding: 20px 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  margin-bottom: 10px; }
  .index-block h3 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    letter-spacing: .5px; }
    .index-block h3.chart {
      color: #2D3033;
      font-weight: normal;
      position: relative;
      padding-left: 25px; }
      .index-block h3.chart::before {
        content: "";
        width: 10px;
        height: 10px;
        line-height: 24px;
        border-radius: 10px;
        background: #000;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 0; }
  .index-block .index-chart {
    width: 100%; }

.index-num {
  width: 15%;
  min-width: 190px;
  color: #fff;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  float: left;
  margin-right: 40px;
  background: #1984C7; }
  .index-num:nth-child(3) {
    background: #F37F5B; }
  .index-num:nth-child(4) {
    background: #19C719; }
  .index-num:nth-child(5) {
    background: #CBCACA; }
  .index-num h4 {
    font-size: 15px;
    color: #fff;
    letter-spacing: .5px;
    padding: 15px 20px 0; }
  .index-num p {
    font-size: 36px;
    text-align: center;
    padding: 10px 0 25px; }

.index-blockB {
  width: 100%; }
  .index-blockB .index-block {
    width: 49.5%;
    min-width: 500px;
    float: left; }
  .index-blockB .index-block-chart_type {
    width: 50%;
    display: inline-block; }

.collapse .main-sidebar, .collapse .main-sidebar .menu .el-menu-vertical-demo:not(.el-menu--collapse), .collapse .main-sidebar .menu .el-menu-vertical-demo {
  width: 64px; }
.collapse .main-righty, .collapse .main-navbar {
  padding-left: 64px; }
.collapse .main-content .el-tabs__header {
  left: 64px; }
.collapse .main-sidebar span {
  display: none; }

.mod-menu {
  height: 100%; }

.el-pager li {
  color: #606266; }

.login-logo {
  width: 41%;
  min-width: 600px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -2%; }
  .login-logo img {
    width: 100%; }

.site-wrapper.site-page--login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 50, 56, 0.3);
  overflow: hidden; }
  .site-wrapper.site-page--login:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(~@/assets/img/bg2.jpg);
    background-size: cover; }
  .site-wrapper.site-page--login .site-content__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent; }
  .site-wrapper.site-page--login .site-content {
    min-height: 100%;
    padding: 30px 500px 30px 30px;
    box-sizing: border-box; }
  .site-wrapper.site-page--login .brand-info {
    margin: 220px 100px 0 90px;
    color: #fff; }
  .site-wrapper.site-page--login .brand-info__text {
    margin: 0 0 22px 0;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .site-wrapper.site-page--login .brand-info__intro {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.58;
    opacity: .6; }
  .site-wrapper.site-page--login .login-main {
    width: 420px;
    height: 385px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: #4f5868 15px 10px 21px -22px;
    padding: 13px 50px;
    box-sizing: border-box; }
  .site-wrapper.site-page--login .login-title {
    font-size: 26px;
    letter-spacing: 1px;
    padding: 20px 0 25px;
    color: #333; }
  .site-wrapper.site-page--login .login-captcha {
    overflow: hidden; }
    .site-wrapper.site-page--login .login-captcha img {
      width: 100%;
      cursor: pointer;
      vertical-align: middle;
      display: inline-block; }
  .site-wrapper.site-page--login .login-btn-submit {
    width: 100%;
    margin-top: 10px;
    letter-spacing: 2px; }
  .site-wrapper.site-page--login .el-form-item {
    margin-bottom: 25px; }
  .site-wrapper.site-page--login .el-input__inner {
    border: 1px solid #CCCFD4;
    color: #9FA9BA; }
  .site-wrapper.site-page--login .el-button--primary {
    background: #1F9990; }

.el-card {
  background: none; }

.icon-menu-spgl {
  width: 18px;
  height: 18px;
  background: url("../img/Approvalmanagement_icon.png") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }
.icon-menu-ywgl {
  width: 18px;
  height: 18px;
  background: url("../img/Assetsoperation_icon.png") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }
.icon-menu-mxzc {
  width: 18px;
  height: 18px;
  background: url("../img/Assetsundername_icon.png") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }
.icon-menu-zcpz {
  width: 18px;
  height: 18px;
  background: url("../img/zcpz.png") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }

.icon-menu-zcgl {
  width: 18px;
  height: 18px;
  background: url("../img/zcgl.png") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }

.icon-menu-zcda {
  width: 18px;
  height: 18px;
  background: url("../img/zcda.svg") no-repeat left center;
  background-size: 100%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px; }

.el-tabs__nav-wrap::after {
  background: none; }

.el-form-top {
  background: #fff;
  padding: 15px 15px; }

.el-form-top2 {
  margin-top: 5px;
  background: #fff;
  padding: 15px 15px; }

.el-form-item {
  margin: 0; }

.el-form-left {
  float: left; }

.el-form-right {
  float: right; }

.el-form-right .el-select, .el-form-right .el-cascader, .el-form-right .el-button {
  margin-left: 6px; }

.el-form--inline .el-form-item {
  margin-right: 0; }

.el-form-top .el-form-srh {
  width: 265px;
  margin-left: 6px; }

.el-form-top .el-srh-i {
  width: 25px;
  height: 40px;
  content: '';
  display: block;
  position: absolute;
  right: 124px;
  top: 0;
  cursor: pointer;
  z-index: 6; }

.el-form-top .el-form-srh .el-input__prefix {
  left: auto;
  right: 5px; }

.el-form-top .el-form-srh .el-input__inner {
  padding-left: 15px; }

.el-form-top .el-form-srh .el-input__suffix {
  right: 30px; }

.el-form-top_rarc {
  padding: 15px 15px 5px; }

.el-top-line_rarc {
  text-align: right; }

.el-top-line_rarc .el-form-srh {
  width: 180px;
  margin-bottom: 10px; }

.el-top-line_rarc .el-form-srh.line1 {
  width: 230px;
  margin-bottom: 0; }

.el-top-line_rarc .el-button {
  width: 98px;
  margin-left: 5px; }

.el-table {
  width: 100%;
  margin-top: 5px; }

.el-table thead tr th {
  background: #f5f7fa;
  color: #333; }

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background: #ecf5ff; }

.el-table--border::after, .el-table--group::after, .el-table::before {
  background: none; }

.el-table td, .el-table th {
  height: 45px;
  padding: 0; }

.index-table-expand {
  font-size: 0; }

.index-table-expand .el-form-item {
  width: 32% !important;
  margin-right: 1.33% !important;
  margin-bottom: 0; }

.index-table-expand label {
  width: 33%;
  color: #99a9bf; }

.el-pagination {
  width: 100%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px; }

.el-pagination__editor.el-input .el-input__inner {
  width: 35px; }

.el-tabs__nav-wrap {
  margin: 0; }

#design-body {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; }

#form {
  height: 649px; }

#itext {
  height: 649px;
  float: left;
  width: 29%;
  display: block; }

.el-textarea textarea {
  padding: 10px;
  box-sizing: border-box; }

#pdf {
  height: 649px;
  background: #fff;
  border: 1px solid #c0c4cc;
  border-radius: 3px;
  float: right; }

.el-tree-clfy {
  padding: 20px 30px; }

.el-tree-node__content {
  height: 36px; }

.el-tree-dialog-- {
  position: relative;
  background: #fff;
  padding: 20px 60px 40px; }

.region-left {
  width: 20.5%;
  float: left;
  background: #fff; }

.region-left-50 {
  width: 49.75%; }

.region-right {
  width: 79%;
  float: right;
  background: #fff; }

.region-right-50 {
  width: 49.75%; }

.dictionary-left {
  width: 20.5%;
  float: left;
  background: #fff; }

.dictionary-left-50 {
  width: 39.75%; }

.dictionary-right {
  width: 79%;
  float: right;
  background: #fff; }

.dictionary-right-50 {
  width: 59.75%; }

.el-dialog {
  margin: 0 auto !important; }

.el-dialog.layer {
  opacity: .7; }

.el-dialog__header {
  padding: 12px 20px;
  background: #409EFF; }

.el-dialog__title {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px; }

.el-dialog__headerbtn {
  top: 16px; }

.el-dialog__headerbtn .el-dialog__close {
  color: #fff; }

.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #fff; }

.el-dialog__body {
  padding: 30px; }

.el-dialog__body .el-form-item {
  margin-bottom: 22px; }

.dialog-form.inb .el-form-item {
  margin-bottom: 15px; }

.dialog-form.dtl .el-form-item {
  margin-bottom: 10px; }

.el-dialog__body .el-form-item.list {
  margin-bottom: 0; }

.el-scrollbar-form {
  height: 500px; }

.el-scrollbar-form.classify {
  height: 400px; }

.el-scrollbar-form .el-scrollbar__wrap {
  overflow-x: hidden; }

.dialog-form .el-form-item__label {
  width: 100px;
  margin: 0 30px; }

.dialog-form.inb .el-form-item__label, .dialog-form.ine .el-form-item__label {
  width: 100px;
  margin: 0 30px 0 0; }

.dialog-form .el-select, .dialog-form .el-input, .dialog-form .el-textarea, .dialog-form .el-cascader, .dialog-form .el-date-editor {
  width: 300px;
  float: left; }

.dialog-form .el-input-number .el-input {
  width: 180px; }

.dialog-form .el-input.unit {
  width: 50px; }

.info-form .el-input {
  width: 260px;
  margin-left: 20px; }

.info-form.info label {
  color: #99a9bf; }

.info-form .el-form-item {
  width: 100%; }

.info-form .el-form-item__content {
  margin-left: 20px; }

.dialog-form .region-add-item1 {
  width: 33.33%;
  float: left; }

.dialog-form .region-add-item1 .el-form-item__label {
  width: 60px;
  margin: 0 0 0 30px; }

.dialog-form .region-add-item2 .el-form-item__label {
  margin: 0; }

.dialog-form .region-add-select1, .dialog-form .region-add-select1 .el-input {
  width: 150px; }

.rarc-view-none {
  padding-left: 37px;
  color: #99a9bf; }

.rarc-view-top h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

.rarc-view-top .rarc-record {
  padding-top: 10px; }

.rarc-view-top .record {
  position: relative; }

.rarc-view-top .record-arr {
  width: 15px;
  height: 22px;
  background: url("../img/pic_arrow.png") no-repeat center;
  background-size: 12px;
  display: block;
  position: absolute;
  right: 45px;
  top: 50%;
  margin-top: -11px; }

.rarc-view-top .record-left {
  width: 100px;
  float: left;
  text-align: right;
  padding-bottom: 20px; }

.rarc-view-top .record-left .year {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px; }

.rarc-view-top .record-right {
  width: 450px;
  float: left;
  margin-left: 25px;
  padding: 0 45px 20px 25px;
  border-left: 1px solid #cdcdcd;
  position: relative; }

.rarc-view-top .record-right h1 {
  font-size: 16px;
  font-weight: bold; }

.rarc-view-top .record-right i {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #B2B2B2;
  position: absolute;
  left: -5px;
  top: 6px; }

.rarc-view-top .record:nth-child(1) .record-right i {
  width: 25px;
  height: 25px;
  background: url("../img/pic_point.png") no-repeat center;
  background-size: 100%;
  position: absolute;
  left: -13px;
  top: -3px; }

.rarc-view-top .record-right-cont {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  padding-top: 10px; }

.rarc-view-form {
  margin-top: 20px; }

.rarc-view-form h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; }

.rarc-view-form label {
  color: #99a9bf; }

.rarc-view-form .el-form-item {
  width: 50% !important;
  margin-right: 0 !important;
  margin-bottom: 0;
  float: left; }

.el-form-item.w50 {
  width: 50% !important;
  margin-right: 0 !important;
  float: left; }

.el-form-item.w50 .el-input, .el-form-item.w50 .el-cascader, .el-form-item.w50 .el-cascader-menu__item {
  width: 200px; }

.dialog-form.classify-form {
  min-height: 340px;
  padding-bottom: 60px;
  position: relative; }

.dialog-form.classify-form .el-checkbox {
  width: 100%;
  margin: 0; }

.dialog-form.classify-form .btn {
  height: 40px;
  padding-top: 30px;
  position: absolute;
  right: 0;
  bottom: 0; }

.inb-add-btn {
  display: inline-block;
  margin-right: 10px; }

.inb-add-dl {
  display: inline-block;
  color: #333;
  text-decoration: underline;
  margin-left: 10px; }

.el-upload-dragger {
  margin-top: 25px; }

.txt_g {
  color: green; }

.txt_r {
  color: red; }

.upload-demo {
  width: 300px; }

.upload-demo.download {
  margin: 0 auto;
  display: block; }

.el-dialog__body .el-cascader {
  box-sizing: border-box; }

.inbound-meth .el-radio-button__inner:last-child {
  border-left: 1px solid #dcdfe6; }

.dialog-form.inb .el-pagination__editor.el-input {
  width: 50px;
  float: none; }

.dialog-form.inb .el-select {
  width: 100px; }

.inbound-excel-title {
  font-size: 16px;
  text-align: center; }

.inbound-matr-msg {
  width: 100%;
  height: 48px;
  position: relative; }

.inbound-matr-msg .item {
  position: absolute;
  right: 0;
  top: 0; }

.inbound-excel-step {
  line-height: 40px; }

.inbound-excel-step.line1 {
  margin: 10px 0 5px; }

.inbound-excel-step.line2 {
  margin-bottom: 20px; }

.inbound-excel-step span {
  width: 130px;
  font-size: 15px;
  float: left;
  margin-right: 20px; }

.inbound-excel-step .download-link {
  font-size: 13px;
  color: #409EFF; }

.inbound-excel-step .upload-demo {
  font-size: 13px;
  line-height: 40px;
  float: left; }

.inbound-excel-step .upload-demo span {
  font-size: 13px; }

.inbound-excel-step .el-upload {
  float: left; }

.inbound-excel-step .el-button--small {
  width: 100px;
  padding: 13px 0;
  text-align: left; }

.inbound-excel-step .el-upload-list {
  font-size: 13px;
  float: left; }

.inbound-excel-step .el-upload-list__item:first-child {
  margin: 0;
  line-height: 40px; }

.inbound-excel-step .el-button span {
  font-size: 13px; }

.inbound-upload {
  font-size: 14px;
  color: #606266;
  padding-left: 130px; }

.inbound-upload-line span {
  line-height: 26px;
  float: left;
  display: block; }
.inbound-upload-line ul {
  display: block;
  float: left; }
  .inbound-upload-line ul li {
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #606266;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
    position: relative; }
    .inbound-upload-line ul li span {
      line-height: 26px; }
  .inbound-upload-line ul .btn-delete {
    font-size: 20px;
    color: #222;
    background: #fff;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 66; }

.print-block h3 {
  font-size: 16px;
  color: #757575;
  letter-spacing: 1px;
  padding-bottom: 15px; }

.print-block .el-row {
  margin-bottom: 20px; }

.print-block .el-col {
  width: 32%;
  float: left;
  margin-right: 1.3%;
  margin-bottom: 15px; }

.print-block-in {
  position: relative; }

.print-block .el-row {
  background-color: #fff;
  min-width: 1000px;
  padding: 20px 1% 0;
  box-sizing: border-box; }

.main-content .print-block .el-card__body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.main-content .print-block .el-card__body img {
  display: block;
  margin: 0 auto; }

.print-block .el-col {
  width: 19%;
  min-width: 300px;
  margin-right: 1%;
  margin-bottom: 20px; }

.print-block.blockB .el-col {
  width: 13%;
  min-width: 185px;
  margin-right: 1.5%; }

.print-block.blockB .el-col img {
  width: 100%; }

.print-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; }

.print-btn .el-dropdown {
  width: 100%;
  height: 100%; }

.print-btn .el-dropdown .el-button {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

.print-btn .el-dropdown .el-icon--right {
  margin: 0; }

.print-btn .el-dropdown-menu {
  bottom: 0; }

.print-dropdown-menu .el-button--text {
  width: 100%;
  display: block; }

.print-btn-box {
  width: 100%;
  height: 30px;
  background: #fff;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0; }

.temp_scroll .el-scrollbar__wrap {
  overflow-x: hidden; }

.view-table-expand {
  font-size: 0; }

.view-table-expand .el-form-item {
  margin-right: 0 !important;
  margin-bottom: 0;
  width: 50% !important; }

.view-table-expand.w100 .el-form-item {
  margin-right: 0 !important;
  margin-bottom: 0;
  width: 100% !important; }

.el-form-item.bz {
  width: 100% !important; }

.el-form-item.bz .el-form-item__content, .demonstration {
  width: 100%; }

.inboundViewdivClass .el-form-item__content {
  width: 300px; }

.inboundViewListTitle {
  font-weight: bold;
  color: black;
  margin-left: -26px; }

.el-button--info {
  color: #222;
  background: #DBDBDB;
  border: 1px solid #DBDBDB; }

.information-search-advc {
  width: 100%;
  background: #FAFAFA;
  padding: 15px 15px 5px;
  box-sizing: border-box; }
  .information-search-advc .el-form-right {
    width: 100%; }
  .information-search-advc .el-select, .information-search-advc .el-cascader, .information-search-advc .el-button, .information-search-advc .el-date-editor {
    float: right;
    margin-left: 10px; }
  .information-search-advc .el-select, .information-search-advc .el-cascader {
    width: 11%;
    margin-bottom: 10px; }
  .information-search-advc.input_few .el-select, .information-search-advc.input_few .el-cascader {
    width: 11%; }
  .information-search-advc.input_few2 .el-select, .information-search-advc.input_few2 .el-cascader {
    width: 11%; }

.imformation-searh-btn {
  margin-left: 6px;
  padding-right: 30px; }

.imformation-searh-btn .el-select__caret {
  color: #fff;
  font-size: 14px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  cursor: pointer; }

.imformation-searh-btn .el-select__caret.reversed {
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0); }

.view-table-expand .el-form-img {
  width: 100% !important; }

.view-table-expand .el-form-img .el-form-item__content {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 13px;
  box-sizing: border-box; }

.view-table-expand .el-form-img.img_fb .el-form-item__content {
  width: auto;
  height: auto; }

.view-table-expand .el-form-img .el-form-item__content img {
  width: auto;
  max-width: 100%; }

.view-table-expand .el-form-img.img_fb .el-form-item__content img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 20px; }

.el-form-process {
  padding-bottom: 20px; }

.el-form-process .el-form-item {
  display: block;
  margin-bottom: 5px; }

.el-form-process .el-form-item_select {
  margin-bottom: 22px; }

.el-form-process label, .el-form-process .el-form-item__content {
  height: 32px;
  line-height: 32px; }

.el-form-item_select label, .el-form-item_select .el-form-item__content {
  height: 40px;
  line-height: 40px; }

.el-form-item_select.slt2 label, .el-form-item_select.slt2 .el-form-item__content {
  height: 64px;
  line-height: 64px; }

.el-form-process .el-form-item__label {
  width: 130px; }

.process-el-badge {
  margin-top: -30px;
  margin-left: -16px; }

.process-button-sltl {
  margin-top: 40px;
  margin-bottom: 7px; }

.process-button-sltr {
  height: 42px; }

.process-button-sltr .item {
  right: 0; }

.suggestion-imgPop {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 8%;
  left: 5%;
  z-index: 990; }
  .suggestion-imgPop .el-icon-close {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; }
  .suggestion-imgPop .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999; }
  .suggestion-imgPop .imgPop {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; }
    .suggestion-imgPop .imgPop img {
      width: 100%;
      vertical-align: middle; }
  .suggestion-imgPop .swiper-pagination {
    left: 50%;
    bottom: 0;
    transform: translate(0, -50%); }
  .suggestion-imgPop .swiper-pagination-bullet {
    margin: 0 5px; }

.dialog-form-qrc {
  width: 100%; }
  .dialog-form-qrc img {
    width: 60%;
    margin: 0 auto;
    display: block; }
  .dialog-form-qrc .el-form-item {
    padding: 40px 80px 0 120px;
    margin-bottom: 0; }

.el-dialog__footer {
  margin: 10px 20px; }

.ine .el-form-item:nth-child(2) {
  display: block; }

.el-num, .dialog-form .el-num .el-input {
  width: 150px; }

/*# sourceMappingURL=style.css.map */
